*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000; }

ul, li {
  list-style: none; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  position: relative; }

header {
  display: flex;
  background-color: #4f4f4f;
  justify-content: space-between; }

.logo {
  line-height: 52px;
  margin-right: 15px;
  color: #96BC63; }

.button__global__menu {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 120px;
  height: auto;
  border: 0;
  background-color: #4f4f4f;
  padding: 10px 15px;
  cursor: pointer; }
  .button__global__menu-icon {
    width: 32px;
    height: 32px;
    fill: #eee;
    transition: all ease .3s; }
  .button__global__menu-title {
    color: #eee;
    font-size: 18px;
    padding-left: 10px;
    transition: all ease .3s; }

.button__global__menu:hover .button__global__menu-icon {
  fill: #fff; }

.button__global__menu:hover .button__global__menu-title {
  color: #fff; }

.global {
  position: relative; }
  .global__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    z-index: 99; }
    .global__menu__item {
      position: relative;
      padding: 10px 15px;
      background-color: #4f4f4f; }
      .global__menu__item-title {
        color: #96BC63;
        transition: color ease .3s; }
        .global__menu__item-title:hover {
          color: #fff; }
    .global__menu__link {
      display: block;
      color: #96BC63;
      width: 100%;
      height: 100%;
      transition: color ease .3s; }
      .global__menu__link--active {
        text-decoration: underline; }
      .global__menu__link:hover {
        color: #fff; }
  .global__submmenu {
    width: 190px; }
    .global__submmenu.disable {
      border-left: dashed 1px #333;
      z-index: 999; }

.global.main__page {
  position: relative; }

.global.project__page {
  position: absolute;
  right: 0; }
  .global.project__page .global__menu {
    left: -100%; }

.global_container {
  position: absolute; }

.button__global__menu .global__menu.disable {
  visibility: hidden;
  opacity: 0; }

.button__global__menu:hover .global__menu.disable {
  visibility: visible;
  opacity: 1; }

.global__menu__item.list .global__submmenu.disable {
  position: absolute;
  visibility: hidden;
  opacity: 0; }

.global__menu__item.list:hover .global__submmenu.disable {
  top: 0;
  left: 100%;
  visibility: visible;
  opacity: 1; }
