*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000; }

ul, li {
  list-style: none; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

header {
  display: flex;
  background-color: #4f4f4f;
  justify-content: space-between; }

.logo {
  line-height: 52px;
  margin-right: 100px;
  color: #96BC63; }

.button__global__menu {
  display: flex;
  justify-content: left;
  align-items: center;
  min-width: 120px;
  height: auto;
  border: 0;
  background-color: #4f4f4f;
  padding: 10px 15px;
  cursor: pointer; }
  .button__global__menu-icon {
    width: 32px;
    height: 32px;
    fill: #eee;
    transition: all ease .3s; }
  .button__global__menu-title {
    color: #eee;
    font-size: 18px;
    padding-left: 10px;
    transition: all ease .3s; }

.button__global__menu:hover .button__global__menu-icon {
  fill: #fff; }

.button__global__menu:hover .button__global__menu-title {
  color: #fff; }

.global {
  position: relative; }
  .global__menu {
    position: absolute;
    z-index: 99; }
    .global__menu__item {
      padding: 10px 15px;
      background-color: #4f4f4f; }
      .global__menu__item-title {
        padding: 5px 0px;
        color: #96BC63;
        cursor: default; }
    .global__menu__link {
      display: block;
      color: #96BC63;
      width: 100%;
      height: 100%;
      transition: color ease .3s; }
      .global__menu__link--active {
        text-decoration: underline; }
      .global__menu__link:hover {
        color: #fff; }
  .global__menu.disable {
    visibility: hidden;
    opacity: 0; }
