*, *::before, *::after {
	box-sizing: border-box;
	outline: none;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-color: #000000;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #ffffff;
}

::-webkit-scrollbar { width: 0; }

input, textarea, button {
	border: 1px solid #000;
}

textarea {
	resize: both;
	display: inline-block;
	overflow: auto;
	min-width: 150px;
	max-width: 330px;
	min-height: 70px;
	max-height: 440px;
	padding: 5px 5px;
	text-align: center;
}

a {
	color: skyblue;
	text-decoration: none;
}

ul,li {
	list-style: none;
}

.wrapper {
	position: relative;
	padding: 60px;
}

.container {
	position: relative;
	max-width: 1120px;
	max-height: 562px;
	margin: 0 auto;
	border: 1px solid #343A54;
	background-color: #040C2C;
 	/* overflow: hidden; */
}

map {
	max-width: inherit;
	max-height: inherit;
}

.wrap__container {
	position: relative;
	overflow: hidden;
	width: 560px;
	height: 560px;
	margin: 0 auto;
	cursor: crosshair;
}
.wrap__image {
	position: absolute;
	max-width: inherit;
	max-height: inherit;
	/* z-index: 1000; */
	/* Zoom 
	-moz-transition: all 1.5s ease-out;
	-o-transition: all 1.5s ease-out;
	-webkit-transition: all 1.5s ease-out;
	*/
}

#map2d {
	display: block;

}

.pop_up__background:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}

.pop_up--disable {
	display: none;
}

.pop_up {
	position: fixed;
	top: 20%;
	left: 50%;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	color: #000;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}

.modal {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 20px;
}

.button__close {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	width: 32px;
	height: 32px;
	border: 0;
	border-radius: 50%;
	background-color: red;
	cursor: pointer;
}
.button__close::before {
	content: "";
	position: absolute;
	top: 15px;
	right: 0;
	transform: rotate(45deg);
	height: 2px;
	width: 32px;
	background-color: #fff;
}
.button__close::after {
	content: "";
	position: absolute;
	top: 15px;
	right: 0;
	transform: rotate(-45deg);
	height: 2px;
	width: 32px;
	background-color: #fff;
}

.button__creat {
    padding: 5px 7px;
	background-color: #6faf6b;
	color: #fff;
	border: 0;
	cursor: pointer;
}

.button__creat:hover {
	background-color: #21ab18;
}

.buttons {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}
.modal__point .buttons {
	position: static;
	visibility: visible;
	opacity: 1;
}

.add__button {
	position: absolute;
	bottom: 10px;
	right: 10px;
    padding: 3px 5px;
	cursor: pointer;
}

.button__edit {
	bottom: 45px;
	color: #1bbdff;
}

.button__dell {
	color: #d74040;
}

.add__coord {
	position: absolute;
	right: 0;
	padding-right: 10px;
	top: 70px;
}
.coord_x {
	top: 40px;
}


.point {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 7px;
	height: 7px;
	overflow: hidden;
	color: transparent;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	cursor: help;
	font-size: 0;
	z-index: 1001;
}

header.container {
	position: relative;
	border: 0;
	background-color: transparent;
	z-index: 99;
}

.menu {
	display: flex;
}

.menu__item {
	height: 28px;
	line-height: 28px;
}

.page__home__link{
	display: block;
	background-color: #1bbdff;
	color: #fff;
	padding: 0 7px;
	transition: all ease .3s;
}

.page__home__link:hover,
.info__control--button:hover {
	background-color: #fff;
	color: #1bbdff;
}

.info__control--button {
	display: block;
	line-height: 28px;
	padding: 0 7px;
	background-color: #1bbdff;
	cursor: pointer;
	color: #fff;
	border: 0;
	transition: all ease .3s;
}
.info__control {
	position: absolute;
	top: 26px;
	left: 0;
	/* top:  */
	display: grid;
	grid-template-columns: 1fr;
	z-index: 9999;
}
.info__control__item {
	padding: 5px 10px;
	font-size: 16px;
	background-color: #4f4f4f;
	color: #fff;
}

.control__icon {
	display: inline-block;
}

.info__control--button:hover .control__icon {
	color: pink;
}

.control__icon.active {
	transform: rotate(180deg);
}

.position__cursor {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
.position__cursor__item {
	width: 60px;
	background-color: transparent;
	color: #fff;
}

/* .zoom {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 140px;
	height: 140px;
	outline: solid 1px #000;
	z-index: 999;
}
.dot {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1px;
	height: 1px;
	background-color: #fff;
} */

.disable {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}