.slider {
    position: relative;
    width: 100%;
    user-select: none;
}

.hidden {    
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.slider_preview {
    background-color: gray;
}
.slider_preview__cell {
    position: relative;
    width: 500px;
    height: 450px;

    margin: 0 auto;
    overflow: hidden;
}
.slider_preview__image {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
}

.slider__button_left,
.slider__button_right {
    position: absolute;
    top: 0;
    height: 450px;
    width: 24.5%;
    background-color: rgba(0, 0, 0, .3);
    transition: color ease .3s;
    font-weight: bold;
    font-size: 40px;
    color: #333;
    cursor: pointer;
    z-index: 990;
}
.slider__button_left {
    left: 0;
}
.slider__button_right {
    right: 0;
    transform: rotate(180deg);
}

.slider__button_left::after,
.slider__button_right::after {
    content: "<";
    position: absolute;
    top: var(--btns-position-top, 225px);
    display: block;
    width: 30px;
    height: 30px;
    color:rgba(255, 255, 255, .3);
    transform: translate(0, -50%);
    z-index: 999;
}
.slider__button_left::after,
.slider__button_right::after {
    left: 30px;
}


.slider__list_checkbox {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
    margin: 7px 0;
}
.slider__checkbox {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    background-color: var(--checkpoint-fill, silver);
    border-radius: 50%;
    border: var(--border-config, solid 1px #000);
    cursor: pointer;
}
.slider__checkbox::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: var(--checkpoint-fill, black);
    border-radius: 50%;
    transition: opacity ease .3s;
    opacity: 0;
}

.slider_list__slides {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 164px;
    gap: 10px;
    padding: 5px;
}
.slider__slide {
    position: relative;
    background-color: var(--checkpoint-fill, #eee);
    border: solid 5px var(--border-fill, #eee);
    overflow: hidden;
    cursor: pointer;
    transition: border-color ease .6s;
}
.slider_list__slides .slider__slide > img {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
}


/* active/hover/focus */
.slider__slide--active,
.slider__slide:hover {
    /* transform: scale(1.1); */
    border-color:slategray;
}

.slider__button_left:hover,
.slider__button_right:hover {
    background-color: rgba(0, 0, 0, .5);
}
.slider__button_left:hover::after,
.slider__button_right:hover::after {
    color:rgba(255, 255, 255, .6)
}

.slider__checkbox--active::after,
.slider__checkbox:hover::after {
    opacity: 1;
}
